/*
 *
 * PAGE LAYOUT
 *
 */

body {
    background-color: #F5F5F5;
    background-image: url("../images/seefeld.jpg");
    background-repeat: no-repeat;
}

p, b, h1, h2, h3, h4, option, select, .navbar li a {
    font-family: 'Roboto Condensed', sans-serif;
}

.main-container {
    background-color: #EEE;
    margin: 0 auto;
    max-width: 1024px;
}

.cell-container {
    padding: 15px;
}

.row {
    margin: 0;
    width: 100%;
}

.compact-column {
    margin: 0;
    padding: 5px;
}

.white-cell {
    background-color: #FCFCFC;
    border: 1px solid #CCC;
    border-radius: 4px;
    margin: 0;
    padding: 15px;
}

hr {
    border-top: 1px solid #888;
    margin: 15px 0;
}

footer {
    background-color: #ED1D36;
    height: 44px;
    margin-top: 20px;
    padding: 15px 0;
    text-align: center;
}

footer p {
    color: #FFF;
    font-size: 14px;
    margin: 0;
}

form p {
    margin: 0;
}

input, select {
    margin: 10px 0;
}

h2 select {
    font-size: 24px !important;
    height: 48px !important;
    margin: 0 !important;
}

h2 option {
    font-size: 14px;
}

/*
 *
 * STYLING OF THE NAVBAR
 *
 */

.navbar {
    background-color: #ED1D36;
    border: 0;
    border-radius: 0;
    font-size: 12px !important;
    margin: 0 auto;
    max-width: 1024px;
    letter-spacing: 3px;
    z-index: 1;
}

.navbar img {
}

.navbar-brand, .navbar-right {
    margin: 0;
}

.navbar li a, .navbar-brand {
    color: white !important;
}

.navbar-nav li.active a {
    color: #ED1D36 !important;
    background-color: #FFF !important;
}

.navbar-nav li.active a:hover {
    color: #ED1D36 !important;
    background-color: #FFF !important;
}

.navbar-nav li a:hover {
    color: #FFF !important;
    background-color: #FF4F68 !important;
}

/*
 *
 * IMAGE CAROUSEL
 *
 */

.carousel img {
    width: 100%;
}

.carousel-indicators {
    margin-bottom: 30px;
}

.red-row {
    background-color: #ED1D36;
    color: #FFF;
}

/*
 *
 * LOGIN WINDOW
 *
 */

.loginWindow {
    background-color: #EEE;
    border: solid 1px #333333;
    margin: 0 auto;
    margin-top: 50px;
    text-align: left;
    width: 400px;
}

.loginHeader {
    background-color: #333333;
    color: #FFFFFF;
    padding: 3px;
}

.loginBody {
    margin: 30px
}

.loginMessage {
    color:#cc0000;
    font-size: 11px;
    margin-top:10px
}