body {
    background-color: #F5F5F5;
    background-image: url("../images/seefeld.jpg");
    background-repeat: no-repeat;
}

p, .navbar li a, h1, h2, h3, h4 {
    font-family: 'Roboto Condensed', sans-serif;
}

#container {
    background-color: #EEE;
    margin: 0 auto;
    max-width: 1024px;
    padding: 15px;
}

#frontpage-container {
    background-color: #EEE;
    margin: 0 auto;
    max-width: 1024px;
}

footer {
    background-color: #ED1D36;
    height: 44px;
    margin-top: 40px;
    padding: 15px 0;
    text-align: center;
}

footer p {
    color: #FFF;
    font-size: 14px;
    margin: 0;
}

form p {
    margin: 0;
}

input {
    margin: 10px 0;
}

.white-cell {
    background-color: #FCFCFC;
    border: 1px solid #CCC;
    border-radius: 4px;
    margin: 0;
    padding: 15px;
}

select, option {
    font-family: 'Roboto Condensed', sans-serif;
}

select {
    font-size: 24px !important;
    height: 48px !important;
}

option {
    font-size: 14px !important;
}

.compact-column {
    margin: 0;
    padding: 5px;
}

.nextEvent {
    margin: 10px 0;
}

/*
 *
 * STYLING OF THE NAVBAR
 *
 */

.navbar {
    background-color: #ED1D36;
    border: 0;
    border-radius: 0;
    font-size: 12px !important;
    margin: 0 auto;
    max-width: 1024px;
    letter-spacing: 3px;
    z-index: 1;
}

.navbar img {
}

.navbar-brand, .navbar-right {
    margin: 0;
}

.navbar li a, .navbar-brand {
    color: white !important;
}

.navbar-nav li.active a {
    color: #ED1D36 !important;
    background-color: #FFF !important;
}

.navbar-nav li.active a:hover {
    color: #ED1D36 !important;
    background-color: #FFF !important;
}

.navbar-nav li a:hover {
    color: #FFF !important;
    background-color: #FF4F68 !important;
}

/*
 *
 * CAROUSEL
 *
 */

.row {
    margin: 0;
    width: 100%;
}

.carousel img {
    width: 100%;
}

.carousel-indicators {
    margin-bottom: 30px;
}

.red-row {
    background-color: #ED1D36;
    color: #FFF;
}